.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  box-sizing: border-box;
  border: 1px solid white;
  margin-right: 40px;
  padding: 0;
  background-image: url(../../../images/edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 9px;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1000px) {
  .profile__edit-button {
    margin-right: 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-bottom: 13px;
  }
}
