.profile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 51px;
  padding-top: 36px;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: 528px;
    flex-direction: column;
  }
}


@media screen and (max-width: 425px) {
  .profile {
    max-width: 282px;
    padding-bottom: 36px;
  }
}
