.profile__add-button {
  min-width: 150px;
  height: 50px;
  padding: 0;
  margin-left: 0px;
  margin-bottom: 7px;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid #fff;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1000px) {
  .profile__add-button {
    width: 160px;

  }
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    width: 100%;
    margin-bottom: 0;
  }
}
