.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-image: url(../../../images/close-icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  outline: 0;
  padding: 0;
  transition: opacity 0.3s linear 0ms;
  cursor: pointer;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 530px) {
  .popup__close {
    width: 26px;
    height: 26px;
    top: -34px;
    right: 5px;
  }
}
