.popup__close {
  position: fixed;
  top: -10%;
  left: 99%;
  background-color: transparent;
  background-image: url(../../../images/close-icon.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  padding: 0;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-delay: 0ms;
}

.popup__close:focus {
  outline: none;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 528px) {
  .popup__close {
    top: -13%;
    left: 92%;
  }
}

@media screen and (max-width: 430px) {
  .popup__close {
    width: 26px;
    height: 26px;
    background-size: cover;
    top: -10%;
    left: 93%;
  }
}
