.grid-container__like-button {
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  width: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  transition: opacity 0.3s linear 0ms;
  cursor: pointer;
}

.grid-container__like-button:focus {
  outline: none;
  background-image: url(../../../images/active-like.svg);
}

.grid-container__like-button:hover {
  opacity: .5;
}
